<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MS in Computer Science</h1>
            <span>University of California,San Diego</span>
            <span><address>La Jolla, USA</address><time>2015 to 2017</time></span>
        </header>
        <p>
            <em>Courses: Big Data Analytics,
Machine Learning Algorithms,
Computer Vision I &amp II,
Image recognition,
Probabilistic learning models,
Algorithms,
Robotics</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelors in Electronics &amp Communication</h1>
            <span>National Institute of Technology Rourkela</span>
            <span><address>Rourkela, India</address><time>2008 to 2012</time></span>
        </header>
        <p>
            <em>Thesis: Real time speaker recognition using TMS320C6713</em>
        </p>
    </article>
</section>
