<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of California, San Diego, USA</address><time>Fall 2016, Winter 2017</time></span>
        </header>
        <p>
            I am working as the <em>head Teaching Assistant for CSE 252A - Computer Vision I for Prof. Ben Ochoa </em>. Apart from normal question answering and doubt clearing, I also distributed workload between other TAs. You can read some of my feedback   <a href="static/img/feedback.pdf">here</a>

        </p>
    </article>
    <article>
        <header>
            <h1>Software Engineer Intern</h1>
            <span><address>Experian Data Labs, San Diego, USA</address><time> June 2016 to Sept 2016</time></span>
        </header>
        <p>
        <em>I worked as a backend web developer intern at Experian DataLabs. I worked on  2 projects over there.<br></em>

        <em>For Experian's business verification webapp</em>, I developed  restful API endpoints in Flask to handle batch queries. Queried Solr Database to get a set of matches and filtered out the best match processing credit score and other parameters. Improved the processing speed by >10x using Celery distributed message queue <br>

            <em> For Experian's IOS app </em>,I developed a Restful API endpoint using Django Rest Framework to automatically send credit card offer notifications to users
        </p>


    </article>

    <article>
        <header>
            <h1>Software Engineer II</h1>
            <span>Samsung R&ampD Institute,<address> New Delhi, India</address><time>2014 to 2015</time></span>
        </header>
        <p>Led a team working on improving the latency of Samsung’s Speech recognition
system for smart Tvs. Optimized the C++ code for neural net forward
propagation time by 20% fixed point conversion &amp NEON vectorization.</p>
    </article>
    <article>
        <header>
            <h1>Software Engineer I</h1>
            <span><address>Samsung R&ampD Institute,</address>New Delhi, India<time>2012 to 2013</time></span>
        </header>
        <p>Ported and optimized an adaptive Contrast enhancement algorithm in C++ on a
reconfigurable DSP. Boosted performance (SIMD Intrinsics)by 20x to run at
60fps on 1080p video.Code was reviewed, tested and put into production of
2014 smart TVs</p>
    </article>
</section>
