<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>Visual Question and Answer system</h1>
            <span>Deep learning, <time>2016</time></span>
        </header>
        <p>
            Set up a system that answered on open ended questions about images.
Trained a VGG net combined in Keras with 2 layer LSTM on the
MS-Coco dataset. Obtained an accuracy of 59.1%, compared to state of the
art 62%
        </p>
    </article>
    <article>
        <header>
            <h1>Twitter Sentiment analysis</h1>
            <span>Big data and spark, <time>2016</time></span>
        </header>
        <p>
            Did sentiment analysis on 100 GB of Twitter data on US Presidential
elections using Spark.Reduced performance time by >5x using Map,reduce.
        </p>
    </article>
<article>
        <header>
            <h1>Rating the raters</h1>
            <span>Machine learning, <time>2016</time></span>
        </header>
        <p>
            Scraped headphones reviews from amazon. Preprocessed data and used LDA
modeling to predict social status of buyers from reviews.
        </p>
    </article>
<article>
        <header>
            <h1>Face Recognition</h1>
            <span>Computer Vision, <time>2015</time></span>
        </header>
        <p>
            Implemented Face Recognition on faces from Yale Database. Did a
comparative study using Nearest Neighbour,kNN, PCA and Fisher’s LDA
methods. Improved accuracy from 45% to 69% on poorly lit faces using LDA.
        </p>
    </article>
<article>
        <header>
            <h1>IRover</h1>
            <span>Robotics and Image Processing, <time>2015</time></span>
        </header>
        <p>
            Implemented an autonomous obstacle avoiding and object detecting robot.
Used sonars for avoidance and SURF algorithm for object detection,
Beaglebone black as a server.
        </p>
    </article>
    </section>
