<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering </h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Java &amp Python</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C/C++</em>, <em>Git</em>, <em>Matlab</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>PostGresSQL</em> &amp; <em>Javascript</em>
        </p>
        <header>
            <h1>Machine Learning &amp Vision Frameworks</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half0o"></i>

        &nbsp;&nbsp;<em>Apache Spark &ampScikit-learn</em>
        </p>
         <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;<em>Keras</em>,<em> Tensorflow</em>,<em>OpenCV</em>
        </p>

        <header>
            <h1>Web Development Frameworks</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>

        &nbsp;&nbsp;<em>Flask</em>
        </p>
            <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Django</em>,<em> AngularJS</em>,<em>Celery</em>,<em>Redis</em>
        </p>
    </article>
</section>
